
.subject-card {
    .ant-card-meta {
        height: 800px;
    }
    .meta-tag {
        display: "flex";
        flex-direction: "column";
        align-items: "center";
        gap: "15px";
        justify-content: "center";
    }
}

.card-container {
    .subcard-div {
        display: grid;
        grid-template-columns: 35% 60%;
        height: 300px;
        justify-content: center;
        align-items: center;
        // border: 1px solid rgb(71, 50, 140);
        

        .subcard-img {
            img {
                width: 80%;
                // height: 80%;
                border-radius: 5%;
            }
        }

        
           
    
    }
}

@media only screen and (max-width:600px){

    .card-container{
        width: 100%;
        .subject-card{
            width: 100%;
            .subcard-about-head{
                font-size: 23px;
            }
        }
    }
}