.topic-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.topic-subContainer{

    width: 50%;
}
// .items{
//     align-self: auto;
// }
// .topics{
//     align-self:stretch;
// }