.userProfile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.userProfile-subContainer {
    width: 60%;
    background-color: rgb(226, 226, 226);
    display: grid;
    grid-template-columns: 35% 65%;
    padding: 40px 15px;
    column-gap: 20px;

    
    // flex-direction: row;
    // justify-content: space-around;
}
// .profile-img{
//     border: 1px solid black;
//     width: 150px;
//     height: 150px;
//     border-radius: 50%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     justify-self: center;
// }
.image{
    border-radius: 30px;
}

