.userProfile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.userProfile-subContainer {
    width: 60%;
    background-color: rgb(226, 226, 226);
    display: grid;
    grid-template-columns: 35% 60%;
    padding: 40px 15px;
    column-gap: 20px;

}
.input{
    font-size: 1.1rem;
    margin-left: 20px;
}
.user-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}
.image{
    border-radius: 30px;
}
.input-wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
}

