.not-found {
    .ant-result-title {
        font-size: 60px;
    }
    .ant-result-subtitle {
        font-size: 20px;
    }
    .ant-result-icon {
        .anticon svg {
            font-size: 200px;
        }
    }
}
