.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // overflow: hidden;

    .home-middle {
        background-color: #ebf1fc;
        width: 100%;
        // margin-block: 50px;
        padding-block: 50px;
    }
    .carousel {
        margin: 0;
        height: "160px";
        color: "#fff";
        line-height: "160px";
        text-align: "center";
        background-color: "#364d79";
    }

    .home-subjects {
        width: 100%;
        background-color: #cad0dc;
        display: flex;
        justify-content: center;
        padding-block: 100px;
        .crausal-subjects {
            width: 80%;

            .subjects-crausal {
                width: 40%;
            }
        }
    }
}
