.card-courses{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
    row-gap: 40px;
    width: 65%;

}
.course-container{
    display: flex;
    justify-content: center;
    margin: 40px;
}