.branch-container {
    margin: 30px;

    .for-mobile {
        height: 80px;
        margin-block: 50px;
        border: 1px solid var(--main-color);
        padding: 25px;
        .create-btn {
            height: 50px;

            span {
                font-size: 1.4rem;
            }
        }
    }

    .sub-branch {
        display: flex;
        justify-content: center;
        align-items: center;
        // text-align: center;

        .all-branch-div {
            width: 60%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            margin-inline: 75px;
            .select-branch {
                // margin-inline: 50px;
                border-radius: 10px;
                width: 100%;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                .branch-img-div {
                    img {
                        width: 100%;
                        height: 90%;
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .branch-container {
        display: flex;
        align-items: center;
        flex-direction: column;

        .for-mobile {
            display: flex;
            justify-content: end;

            .ant-btn {
                height: 35px;
                margin: 0;
                padding: 0;
                padding-inline: 10px;
                span {
                    font-size: 1.3rem;
                }
            }
        }
        .select-branch {
            width: 80%;
            border: 1px solid var(--main-color);
            padding-block: 25px;
            margin-block: 20px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            text-align: center;
            .branch-img-div {
                img {
                    width: 60%;
                }
            }
            .branch-name-div {
                .ant-typography {
                    text-align: center;
                    margin: 0;
                    margin-top: 15px;
                }
            }
        }
    }
}
