.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // overflow: hidden;

    .home-middle {
        background-color: #ebf1fc;
        width: 100%;
        // margin-block: 50px;
        padding-block: 50px;
    } 

}

@media only screen and (max-width:600px){
    
    .home-container{
        width: 100vw;
    }
}
