/* input{
    padding:  10px 15px;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 5px;
}
/* .form-items{

    display: flex;
    align-items: center;
    justify-content: center;
} */

input {
    margin: 5px;
    padding: 8px;
    /* border-radius: 5px; */
    width: 70%;
    border: none;
    margin-left: 50px;
    border-bottom: 1px solid rgb(89, 155, 231);
}

.menu-bar .ant-menu-title-content {
    font-size: 20px;

}
