.addQuiz-container {
    display: flex;
    width: 100%;
    // height: 100vh;
    // justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;

    .quiz-questions {
        width: 50%;
        // height: 500px;
        background-color: red;
        margin-bottom: 50px;
        padding: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: aliceblue;

        .antd-form {
            width: 100%;
        }
    }
}

.question {
    .q-label {
        font-size: 25px;
        font-weight: 600;
    }
    .q-input {
        width: 500px;
        padding-block: 12px;
        font-size: 20px;
    }
}

.option {
    margin-left: 50px;
    font-size: 2rem;

    .label {
        font-size: 20px;
        font-weight: 400;
    }
    .input {
        width: 350px;
    }
}
.item-delete-btn {
    background-color: red;
    padding: 4px 12px;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 7px;
}
.answer {
    padding-block: 5px;
    .A-label {
        font-size: 20px;
    }
}

@media only screen and (max-width:600px){
    .addQuiz-container{

        .ant-typography{
            font-size: 30px;
        }
        .quiz-questions{
            width: 70%;
            margin: 0;
            padding: 30px;
            margin-bottom: 0;
            padding-bottom: 0;
            .antd-form-quiz{
                
            }
        }
        .quiz-create-btn{
            margin-bottom: 0;
        }
    }
    .q-input{

    }
    
.question {
    .q-label {
        font-size: 20px;
    }
    .q-input {
        width: 100%;
    }
}

.option {
    .input {
        width: 300px;
    }
}

}
