.article-container{

    .map-articles{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
         border: "1px solid #bfe7f4";
         margin-block: 20px;
         background-color: #fff;
        
    }
    .map-articles:hover{
        box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }
}