.navbar-container {
    .navbar-header {
        padding: 10px;
        border-bottom: 10px solid #f5f5f5;
        height: 70px;
        background-color: white;
        display: flex;
        cursor: pointer;
        justify-content: space-between;
        padding-inline: 2%;
        align-items: center;

        // font-size: 1rem;

        .logo {
            font-size: 30px;
            padding-top: 12px;
            padding-left: 5%;
        }

        .hamburger-menu {
            display: none;
        }

        .menu-navbar-header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 10px;
        }
        .login-signup-div {
            .signup-btn {
                // height: 45px;
                span {
                    margin-top: -15px;
                }
            }
            .signin-btn {
                span {
                    margin-top: -15px;
                }
            }
        }
        .navbar-right-part {
            display: flex;
            align-items: center;
            // font-size: 100px;
            // background-color:#2c0357;

            .quiz-div {
                // margin-right: -30px;
                .quiz-link {
                    background-color: #2c0357;
                    padding: 3px 15px;
                    // margin-right: -10px;
                    // z-index: 10;
                    color: white;
                    border-radius: 8px;
                }
            }
        }
    }
}

.login-signup-modals {
    .form-input {
        .label-name {
            .ant-typography {
                margin: 5px 0;
                padding: 0;
                box-sizing: border-box;
                font-size: 17px;
            }
        }
        .input {
            margin: 0;
            padding: 8px;
            box-sizing: border-box;
        }
    }
}
// .ant-modal-body {
.dont-have-ac {
    display: flex;
    align-items: center;
    .ant-typography {
        margin-block: 10px;
        // background-color: red;
        font-size: 17px;
        color: #595e68;
    }
    .btn-as-link {
        border: none;
        color: rgb(17, 56, 122);
        font-weight: bold;
        &:hover{
            cursor: pointer;
        }
    }
}
// }

.menu-bar .ant-menu-title-content {
    font-size: 20px;
}
form input {
    margin: 5px;
    padding: 8px;
    width: 70%;
    border: none;
    margin-left: 50px;
    border-bottom: 1px solid rgb(89, 155, 231);
}

@media only screen and (max-width: 600px) {
    .navbar-container {
        width: 100vw;
        box-sizing: border-box;

        .navbar-header {
            padding-inline: 4%;
            // justify-content: space-between;

            .logo {
                font-size: 28px;
            }
            .hamburger-menu {
                display: block;
                // .hamburger-model {
                // }
            }
            .navbar-right-part {
                display: none;
            }
        }

        .ant-layout-header {
            // display: none;
        }
    }
    .hamburger-model ul .hamburger-links {
        list-style: none;
        background-color: transparent;
    }
    .ant-model-content {
        // background-color: transparent;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        height: 100%;
        width: 100%;
    }
}
