:root {
    --titleSize: 1rem;
    --fontRegular: 1.1rem;
}
// variables -------------------
$contPara: ".ant-typography.contPara.css-dev-only-do-not-override-yp8pcc";
$rightSection: ".ant-layout.ant-layout-has-sider.rightSection.css-dev-only-do-not-override-yp8pcc";
$leftSider: ".ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-below";

// -----------------------------

.contTitle {
    text-align: center;
    font-size: var(--titleSize);
    color: grey !important;
}
.contImg {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50px);
    .ant-image-img {
        display: block;
        width: 300px;
        height: 300px;
        object-fit: contain;
        background-size: auto;
        box-shadow: 0px 0px 62px -15px rgb(180, 180, 180);
        margin-bottom: 20px;
    }

    .ant-image-mask {
        width: 300px;
        height: 300px;
    }
}
.contPara {
    margin-left: 20px;
    box-shadow: 0 3px 6px rgba(182, 182, 182, 0.16),
        0 3px 6px rgba(182, 182, 182, 0.23);
    // border: 1px solid #dcdcdc;
    padding: 20px;
    text-align: justify;
    font-size: var(--fontRegular);
}
// #{$contPara} {
//   font-size: var(--fontRegular);
// }

.back-btn {
    float: left;
    margin-top: 50px;
}
.next-btn {
    float: right;
    margin-top: 50px;
}

// .ant-menu-item {
 .ant-menu .ant-menu-item {

  span{
    font-size: 1.1rem;
  }
 }.ant-menu-title-content {
    font-size: 10px;
    // }
}

@media only screen and (max-width: 600px) {
    .contPara {
        font-size: 1.2rem;
    }
    // #{$leftSider}{
    //   flex: 0 0 90% !important;
    //   max-width: 100% !important;
    //   width: 100% !important;
    //   display: block;
    // }
}
@media only screen and (max-width: 992px) {
    #{$rightSection} {
        display: none !important;
    }
    .contPara {
        font-size: 1.2rem;
    }
}
