.sem-container {
    margin: 40px;

    .sem-card {
        width: 40%;
        padding: 10px 15px;
        margin: 20px 10px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .sem-link {
            text-decoration: none;
            .ant-typography {
                margin-left: 10px;
                font-size: 20px;
                // text-decoration: none;
                text-underline-offset: none;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .sem-container {
        width: 100%;
        margin: 20px;
        .sem-card {
            width: 90%;
            padding: 10px 15px;
            margin: 20px 10px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            .sem-link {
                text-decoration: none;
                .ant-typography {
                    margin-left: 10px;
                    font-size: 20px;
                    // text-decoration: none;
                    text-underline-offset: none;
                }
            }
        }
    }
}
